.wrapper{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px dashed  #4a90e2;


    h2{
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        color: #4a90e2;
        display: flex;
        flex-grow: 1;
    }

    span{
        svg{
            color: #4a90e2;
        }
    }
}
